# LaTeX core
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc

# Bibliography
*.bbl
*.blg

# PDF (Optional: remove this if you want to host the final PDF on GitHub)
*.pdf

# OS generated
.DS_Store
Thumbs.db
.idea/

# glossaries
*.glo
*.ist

